extends layout
block head
  link(rel='stylesheet', href='/css/data-info.css')

block content
  article.center
    section#info.col-sm-12.border
      h1 #{data.title}
      div
        ul.col-sm-12
          li.col-sm-7 数据价格：￥#{data.price}
          li.col-sm-5 数据大小：#{data.dataSize}
          li.col-sm-7 发布时间：#{data.dataTime}
          li.col-sm-5 发布者：#{data.owner}
    section#content.col-sm-12.panel.panel-default
      .panel-heading
        h3.panel-title 数据介绍：
      .panel-body
        p #{data.description}
          input(id="buy", type="button", value="购买").btn-danger.col-sm-offset-9

block foot
  script(src="/js/data-info.js")
