extends layout
block head
  link(rel='stylesheet', href='/css/index.css')

block content
  aside.sidebar.panel.panel-info.col-md-offset-1
    header.panel-heading 领域分类
    ul.list-group
      each category in categories
        li.panel-body.list-group-item
          a(data-categoeyId="#{category.id}") #{category.name}

  article.article
    each data in datas
      section.data
        h4 #{data.dataValues.title}
        #content(data-dataId="#{data.dataValues.id}")
          span 数据标价：
            a(href="#") #{data.dataValues.price}
          span 数据大小：
            a(href="#") #{data.dataValues.dataSize}
          span 时间：
            a(href="#") #{data.dataValues.dataTime}
          p #{data.dataValues.description}
          span 发布人：
          a(href="#") #{data.dataValues.owner}
  .pageCenter
    ul#pagination.pagination(totalPages="#{totalPages}")
      button#pageCount.hidden(type="button") #{pageCount}
block foot
  script(src="/bower_components/twbs-pagination/jquery.twbsPagination.min.js")
  script(src="/js/index.js")
